


.team{
    
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: pink; */
}


@media screen and (max-width: 600px) {
    .team{
    transform: scale(0.5);
    margin-top: -17rem;
        height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* background-color: pink; */
    }
  }

.pfp{
    height: 10rem;
    width: auto;
}

.team-member{
    display: flex;
    font-size: 10rem;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}